---
import Layout from '../layouts/Layout.astro'
import movies from '../content/movies/movies.json'

export async function getStaticPaths() {
  return movies.map(({ title, poster, rated, year, plot, slug }) => {
    return {
      params: { slug },
      props: { title, poster, rated, year, plot, slug }
    }
  })
}

const { title, poster, rated, year, plot, slug } = Astro.props
---

<Layout title={title}>
  <main>
    <section class="info-box">
      <img src={poster} alt={title} transition:name={`img-${slug}`} />
      <div class="movie-info">
        <h2>{title}</h2>
        <div class="rating-year">
          <p>Rated: {rated}</p>
          <p>{year}</p>
        </div>
        <p>{plot}</p>
        <a href="/">Home</a>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: min(1400px, 100% - 2rem);

    color: #5dc6b2;
    font-size: 20px;
    line-height: 1.6;
  }
  h2 {
    margin: 0;
    font-size: 1.65rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  .info-box {
    display: flex;
  }
  .rating-year {
    display: flex;
  }
  .rating-year p {
    padding-inline-end: 2rem;
  }
</style>
