---
import Layout from '../layouts/Layout.astro'
import movies from '../content/movies/movies.json'

export async function getStaticPaths() {
  return movies.map(({ title, poster, rated, year, plot, slug, watch }) => {
    return {
      params: { slug },
      props: { title, poster, rated, year, plot, watch, slug }
    }
  })
}

const { title, poster, rated, year, plot, slug, watch } = Astro.props
---

<Layout title={`${title} | Please Rewind`}>
  <main>
    <div class="page-grid">
      <div class="striped-box" transition:name={`striped-box-${slug}`}>
        <section class="info-box">
          <img
            src={poster}
            alt={title}
            transition:name={`img-${slug}`}
            class="poster"
          />
          <div class="movie-info">
            <h2>{title}</h2>
            <div class="rating-year">
              <p>Rated: {rated}</p>
              <p>{year}</p>
            </div>
            <p class="plot">{plot}</p>
            <div class="links">
              <a href={`/#${slug}`} class="button">Back</a>
              <a href={watch} target="_blank" class="button">Where to watch</a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    height: 100%;
  }
  h2 {
    padding-inline-end: 1rem;

    text-wrap: pretty;
    font-family: 'Melodrama';
    font-size: 3.5rem;
  }
  .page-grid {
    display: grid;
    place-items: center;
    justify-content: center;
    margin: 1rem;
    height: 100%;
  }
  .striped-box {
    background: repeating-linear-gradient(
      45deg,
      #f25434,
      #f25434 10px,
      #ffab9a 10px,
      #ffab9a 20px
    );
    clip-path: polygon(90% 0, 100% 25%, 100% 75%, 90% 100%, 0 100%, 0 50%, 0 0);
    box-shadow: -5px 5px 5px 0 rgba(0, 0, 0, 0.301);
    max-width: 90%;
  }
  .info-box {
    display: flex;
    background: #73e1cd;
    margin: 2rem;
    clip-path: polygon(90% 0, 100% 25%, 100% 75%, 90% 100%, 0 100%, 0 50%, 0 0);
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 2/3;
    vertical-align: bottom;
  }
  .movie-info {
    color: #156556;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem clamp(1rem, 5%, 3rem);
    width: min(100% - 3rem, var(--container-max, 40ch));
    font-family: 'General Sans', sans-serif;
    font-size: 22px;
  }
  .movie-info > * + * {
    margin-block-start: 1.3rem;
  }
  .rating-year {
    display: flex;
  }
  .rating-year p {
    padding-inline-end: 2rem;
  }
  .plot {
    max-width: 40ch;
    padding-inline-end: 1rem;
  }
  .links {
    display: flex;
    font-family: 'Melodrama';
    font-size: 1.3rem;
  }
  .links a {
    margin-inline-end: 2vw;
  }

  @media only screen and (max-width: 787px) {
    .page-grid {
      display: flex;
      flex-direction: column;
      margin: 0.1rem;
    }
    .striped-box {
      background: repeating-linear-gradient(
        45deg,
        #f25434,
        #f25434 10px,
        #ffab9a 10px,
        #ffab9a 20px
      );
      clip-path: polygon(
        20% 0px,
        80% 0px,
        100% 14%,
        100% 100%,
        0px 100%,
        0px 14%
      );
      max-width: 100%;
      width: 300px;
      margin: 1rem;
      padding: 1rem clamp(0.5rem, 2%, 3rem);
    }
    .info-box {
      display: flex;
      flex-direction: column;
      background: #73e1cd;
      margin: 3%;
      clip-path: polygon(
        20% 0px,
        80% 0px,
        100% 14%,
        100% 100%,
        0px 100%,
        0px 14%
      );
      align-items: center;
      padding: 1.5rem clamp(1rem, 3%, 3rem);
    }
    .movie-info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      max-width: 55ch;
      font-family: 'General Sans', sans-serif;
      font-size: 14px;
    }
    .movie-info > * + * {
      margin-block-start: 0.5rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 2/3;
      vertical-align: bottom;
      text-align: center;
      display: none;
    }
    .links {
      flex-direction: column;
    }
    .button {
      font-size: 14px;
      margin-block: 0.5rem;
      padding-block: 0;
      padding-inline: 1rem;
    }
  }
</style>
