---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import movies from '../content/movies/movies.json'

const today = new Date()
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to Merry Movies!</h1>

    <ul role="list" class="link-card-grid">
      {
        movies.map((movie, index) => (
          <Card
            href={movie.href}
            title={movie.title}
            plot={movie.plot}
            poster={movie.poster}
            rated={movie.rated}
            year={movie.year}
            index={index}
            key={movie.title}
            date={today.getDate()}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: min(1400px, 100% - 2rem);

    color: #5dc6b2;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 3rem;
    padding: 0;
  }
</style>
