---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import movies from '../content/movies/movies.json'

const today = new Date()
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="calendar-border">
      <h1>Welcome to Merry Movies!</h1>

      <ul role="list" class="link-card-grid">
        {
          movies.map((movie, index) => (
            <Card
              slug={movie.slug}
              title={movie.title}
              plot={movie.plot}
              poster={movie.poster}
              rated={movie.rated}
              year={movie.year}
              index={index}
              key={movie.title}
              date={today.getDate()}
            />
          ))
        }
      </ul>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    /* width: min(1400px, 100% - 2rem); */
    font-family: 'Melodrama';
    color: #156556;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .calendar-border {
    border: 10px dotted #f25434;
    margin: 1rem;
    padding: 2rem;
    height: 100vh;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    gap: 3rem;
    padding-inline: 10vw;
  }
</style>
