---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import movies from '../content/movies/movies.json'

const today = new Date()
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="calendar-border" transition:name="calendar-border-box">
      <ul role="list" class="link-card-grid">
        {
          movies.map((movie, index) => (
            <Card
              slug={movie.slug}
              title={movie.title}
              plot={movie.plot}
              poster={movie.poster}
              rated={movie.rated}
              year={movie.year}
              index={index}
              key={movie.title}
              date={today.getDate()}
            />
          ))
        }
      </ul>
    </div>
    <div class="mobile-buttons">
      <a href="#1" class="button">Week One</a>
      <a href="#10" class="button">Week Two</a>
      <a href="#17" class="button">Week Three</a>
      <a href="#24" class="button">Week Four</a>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    /* width: min(1400px, 100% - 2rem); */
    font-family: 'Melodrama';
    color: #156556;
    font-size: 20px;
    line-height: 1.6;
    /* overflow: auto; */
    /* overflow-y: scroll; */
    height: 100%;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .calendar-border {
    /* border: 10px dotted #ffab9a; */
    margin: 1rem;
    padding: 2rem;
    overflow: auto;
    /* height: 100%; */
  }
  .link-card-grid {
    --min: 200px;
    --gap: 1rem;
    display: grid;
    grid-gap: var(--gap);
    /* min() with 100% prevents overflow
  in extra narrow spaces */
    grid-template-columns: repeat(
      auto-fill,
      minmax(min(100%, var(--min)), 1fr)
    );
    padding-inline: 1rem;
  }

  .mobile-buttons {
    display: none;
  }

  @media only screen and (max-width: 787px) {
    h1 {
      font-size: 3rem;
    }

    .link-card-grid {
      --min: 200px;
      --gap: 5rem;
      display: grid;
      grid-gap: var(--gap);
      /* min() with 100% prevents overflow
  in extra narrow spaces */
      align-items: center;
      /* justify-content: center; */
      grid-auto-flow: column;
      grid-auto-columns: 100%;
      grid-template-columns: unset;
      padding-inline: 1rem;
      scroll-snap-type: x mandatory;
      scroll-padding: 50%;
    }
    /* .calendar-border {
      border: 10px dotted #f25434;
      margin: 0.1rem;
      padding: 2rem;
     
    } */
    .mobile-buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.5rem;
      /* width: 90%; */
      margin-inline: 1.5rem;
      justify-content: center;
    }
  }
</style>
