---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import movies from '../content/movies/movies.json'

const now = new Date()
const offset = -300
const today = new Date(now.getTime() + offset * 60 * 1000)
const date = today.toISOString().slice(5, 10)
---

<Layout title="Welcome to Merry Movies | Please Rewind">
  <main>
    <div class="calendar-border" transition:name="calendar-border-box">
      <ul role="list" class="link-card-grid">
        {
          movies.map((movie, index) => (
            <Card
              slug={movie.slug}
              title={movie.title}
              plot={movie.plot}
              poster={movie.poster}
              rated={movie.rated}
              year={movie.year}
              index={index}
              key={movie.title}
              date={date}
            />
          ))
        }
      </ul>
    </div>
    <div class="mobile-buttons">
      <a href="#12-01" class="button">Week 1</a>
      <a href="#12-10" class="button">Week 2</a>
      <a href="#12-17" class="button">Week 3</a>
      <a href="#12-24" class="button">Week 4</a>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    font-family: 'Melodrama';
    color: #156556;
    font-size: 20px;
    line-height: 1.6;
    height: 100%;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .calendar-border {
    margin: 1rem;
    padding: 2.5rem;
  }
  .link-card-grid {
    --min: 200px;
    --gap: 1rem;
    display: grid;
    grid-gap: var(--gap);
    /* min() with 100% prevents overflow
  in extra narrow spaces */
    grid-template-columns: repeat(
      auto-fill,
      minmax(min(100%, var(--min)), 1fr)
    );
    padding-inline: 1rem;
  }

  .mobile-buttons {
    display: none;
  }

  @media only screen and (max-width: 787px) {
    main {
      display: flex;
      flex-direction: column;
      margin-block: 1rem;
    }
    h1 {
      font-size: 3rem;
    }
    .calendar-border {
      width: min(100% - 3rem, var(--container-max, 60ch));
      margin-inline: auto;
      padding: 0;
    }
    .link-card-grid {
      --min: 100px;
      --gap: 15rem;
      display: grid;
      grid-template-columns: unset;
      grid-gap: var(--gap);
      align-items: center;
      justify-items: center;
      grid-auto-flow: column;
      overflow-x: auto;
      grid-auto-columns: 100%;
      scroll-snap-type: x mandatory;
      padding-inline: 0;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      scroll-behavior: smooth;
    }

    .link-card-grid > * {
      width: min(45ch, 60vw);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      scroll-snap-align: center;
      scroll-snap-stop: always;
    }
    .mobile-buttons {
      --min: 30vw;
      --gap: 1rem;

      display: grid;
      grid-gap: var(--gap);
      margin-inline: 5vw;
      /* min() with 100% prevents overflow
  in extra narrow spaces */
      grid-template-columns: repeat(
        auto-fit,
        minmax(min(100%, var(--min)), 1fr)
      );
    }
  }
</style>
