---
import { Image } from 'astro:assets'
const { slug, title, poster, rated, year, plot, index, date } = Astro.props
const show = slug <= date
---

<li class="striped-box" transition:name={`striped-box-${slug}`} id={slug}>
  <div class="link-card">
    <div class="link-card-inner">
      <div class="link-card-front">
        {
          index + 1 == 32 ? (
            <p class="new-year">Happy New Year</p>
          ) : (
            <p>{index + 1}</p>
          )
        }
      </div>
      <div class="link-card-back">
        <a href={show ? `/${slug}` : '#'}>
          {
            show ? (
              <img
                src={poster}
                alt={title}
                class={show ? null : 'opaque'}
                transition:name={`img-${slug}`}
              />
            ) : (
              <>
                <>
                  <img
                    src={poster}
                    alt={title}
                    class={show ? null : 'opaque'}
                    transition:name={`img-${slug}`}
                  />

                  <p class="come-back">Coming Soon. Don't Be Naughty!</p>
                </>
              </>
            )
          }
        </a>
      </div>
    </div>
  </div>
</li>

<style>
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 2/3;
    vertical-align: bottom;
  }
  .striped-box {
    padding: 10px;
    background: repeating-linear-gradient(
      45deg,
      #f25434,
      #f25434 5px,
      #ffab9a 5px,
      #ffab9a 10px
    );
    box-shadow: -5px 5px 5px 0 rgba(0, 0, 0, 0.301);
    scroll-snap-align: start;
  }
  .link-card {
    list-style: none;

    color: #f25434;
    background-color: transparent;
    position: relative;
    perspective: 1000px;
  }
  .link-card-inner {
    position: relative;
    background-color: #73e1cd;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .link-card:hover .link-card-inner {
    transform: rotateY(180deg);
  }
  .link-card-front,
  .link-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .link-card-front {
    background-color: #73e1cd;
  }
  .link-card-back {
    transform: rotateY(180deg);
  }
  .opaque {
    opacity: 0;
  }
  h2 {
    font-size: 1.65rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #156556;
    font-size: 6rem;
  }
  .come-back {
    font-size: 2rem;
  }
  .new-year {
    font-size: 2.5rem;
  }
</style>
