---
import { Image } from 'astro:assets'
const { slug, title, poster, rated, year, plot, index, date } = Astro.props
const show = index <= date - 1 ? null : 'opaque'
---

<li class="striped-box" transition:name={`striped-box-${slug}`}>
  <div class="link-card">
    <a href={!show ? `/${slug}` : '#'}>
      <!-- <img
        src={poster}
        alt={title}
        class={show}
        transition:name={`img-${slug}`}
      /> -->
      <img
        src={poster}
        alt={title}
        transition:name={`img-${slug}`}
        class="opaque"
      />
      <!-- <p class={show == null ? 'opaque' : null}>{index + 1}</p> -->
      <p class="">{index + 1}</p>
    </a>
  </div>
</li>

<!-- <script>
  import { navigate } from 'astro/transitions/router'

  const cards = document.querySelectorAll('li.striped-box')
  

  cards.forEach((card) => {
    card.addEventListener('click', () => {
      // navigate(slug)
    })
  })
</script> -->
<style>
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 2/3;
    vertical-align: bottom;
  }
  .striped-box {
    padding: 10px;
    /* border-radius: 7px; */
    background: repeating-linear-gradient(
      45deg,
      #f25434,
      #f25434 5px,
      #ffab9a 5px,
      #ffab9a 10px
    );
  }
  .link-card {
    list-style: none;

    color: #f25434;
    background-color: #73e1cd;
    /* border-radius: 7px;
    border: 10px solid #f25334; */
    position: relative;
    /* background: repeating-linear-gradient(
      -45deg,
      #5ac5ad,
      #f5f4de 10%,
      #f5f4de 10%,
      #f24d2d 20%
    ); */
  }
  .opaque {
    opacity: 0;
  }
  h2 {
    font-size: 1.65rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #156556;
    font-size: 6rem;
  }
</style>
